Config(
  play_on_start: false,
  keybinds: {
    Home: {
      "<q>": Quit,
      "<Ctrl-c>": Quit,
      "<space>": PausePlay,
      "<s>": ChangeModeSelection,
      "<r>": ChangeModeRepeat,
      "<n>": NextTrack,
      "<j>": TrackListSelNext,
      "<k>": TrackListSelPrev,
      "<enter>": TrackListPlaySelected,
    },
  }
)
