Config(
  play_on_start: false,
  keybinds: {
    Home: {
      "<q>": Quit,
      "<Ctrl-c>": Quit,
      "<space>": PausePlay,
      "<s>": ChangeModeSelection,
      "<r>": ChangeModeRepeat,
      "<n>": NextTrack,
      "<h>": ListLeft,
      "<l>": ListRight,
      "<j>": ListSelNext,
      "<k>": ListSelPrev,
      "<enter>": ListChooseSelected,
    },
  }
)
