Config(
  keybinds: {
    Home: {
      "<q>": Quit,
      "<Ctrl-c>": Quit,
      "<esc>": Quit,
      "<space>": PausePlay,
      "<s>": ChangeModeSelection,
      "<r>": ChangeModeRepeat,
      "<n>": NextTrack,
    },
  }
)
